@import url("./menu.css");
@import url("./interface.css");

  #interface .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d7dbe6;
    margin: 30px;
    padding: 8px 0 19px 0;
    border-radius: 8px;
  }
  #interface .filter form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #interface .filter form .filter-input input:first-child {
    display: block;
    padding: 5px 10px;
    border: 1px solid #d7dbe6;
    border-radius: 5px;
    background-color: #fff;
  }
  #interface .filter form .filter-input input {
    font-size: 14px;
  }
  #interface .filter form .filter-input i {
    right: 0;
  }
  #interface .filter form .filter-input i:hover {
    cursor: pointer;
  }
  #interface .filter label {
    min-width: 120px;
  }
  #interface .filter input {
    border-radius: 5px;
  }
  #interface .filter-depart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 26px;
    margin-left: 55px;
  }
  #interface .filter-depart .filter-btn {
    margin-left: 27px;
    background-color: #323FAE;
    padding: 8px 14px;
    border-radius: 19px;
    color: #fff;
    font-size: 14px;
  }
  #interface .filter-depart .filter-btn:hover {
    cursor: pointer;
  }
  #interface .filter-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 55px;
  }
  #interface .filter-date .get-btn {
    margin-left: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323FAE;
    padding: 8px 14px;
    border-radius: 19px;
    color: #fff;
    font-size: 14px;
    gap: 12px;
  }
  #interface .filter-date .get-btn:hover {
    cursor: pointer;
  }
  #interface .filter-date form:nth-child(2) {
    margin-left: 69px;
  }
  #interface .tool-board {
    margin: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #interface .tool-board .show {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #interface .tool-board .show span {
    font-weight: 400;
    font-size: 14px;
  }
  #interface .tool-board .show-input {
    margin-left: 14px;
  }
  #interface .tool-board .show-input input {
    font-size: 14px;
    display: block;
    padding: 5px 10px;
    border: 1px solid #d7dbe6;
    border-radius: 5px;
    background-color: #fff;
  }
  #interface .tool-board .show-input i {
    right: 0;
  }
  #interface .tool-board .show-input i:hover {
    cursor: pointer;
  }
  #interface .tool-board .print {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 12px;
  }
  #interface .tool-board .print li {
    padding: 4px 6px;
    background-color: #fff;
    border-radius: 5px;
  }
  #interface .tool-board .print li:hover a {
    color: #594ef7;
    transition: all 0.3s;
  }
  #interface .tool-board .print li a {
    color: #1a1c29;
  }
  #interface .board {
    margin: 30px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
  }
  #interface .board h5 {
    font-weight: 600;
    font-style: 14px;
  }
  #interface .board p {
    font-weight: 400;
    font-size: 13px;
  }
  #interface .board table {
    border-collapse: collapse;
  }
  #interface .board table tr {
    border-bottom: 1px solid #eef0f3;
  }
  #interface .board table thead td {
    font-style: 14px;
    text-transform: capitalize;
    font-weight: 400;
    background-color: #f9fafb;
    text-align: start;
    padding: 15px;
  }
  #interface .board table tbody td {
    padding: 10px 15px;
  }

  /*# sourceMappingURL=report.css.map */
